body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(7,0,124,1) 0%, rgba(81,81,194,1) 66%, rgba(97,228,255,1) 100%);
  
}

button{
  cursor: pointer;
}
